{{!-- This is where we will write all of the main page...this is a one page application. --}}
<main>
    <div class="container">
        <h1 class="centered">Eat Da Burgers!</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                {{#each burgers}}
                {{#unless this.devoured}}
                <div class="burger">
                    <form action="/api/burgers/{{this.id}}?_method=PUT" method="post">
                        <button type="submit" class="burger-ready">{{this.burger_name}}</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                {{#each burgers}}
                {{#if this.devoured}}
                <div class="devoured">
                    <h3>{{this.burger_name}}</h3>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="add-section">
                    <h1 class="centered">Add a burger!</h1>
                    <div class="centered">
                        <form action="/api/burgers" method="post">
                            <input type="text" name="burger_name" id="name">
                            <button type="submit" class="btn btn-dark submit-burger"> Add my burger! </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</main>