.burger {
    margin: 10px;
    padding: 10px;
    background-color: antiquewhite;
    height: 185px;
    width: 200px;
    text-align: center;
    display: inline-block;
}

.devoured {
    margin: 10px;
    padding: 10px;
    height: 135px;
    width: 200px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    background-color: #000;
    text-align: center;
    display: inline-block;
}


body {
    background-color: #f9cc6a;
}

p{
    font-weight: bold;
}

.centered {
    text-align: center;
}
.add-section {
    height: 175px;
    width: 350px;
}