.burger {
    border: 5px solid black;
    margin: 10px;
    background-color: antiquewhite;
    height: 250px;
    width: 250px;
}

/* .devoured */

.burger-ready {

}

.submit-burger {
    
}

main {
    margin: 25px;
    background-color: darkolivegreen;
}

.centered {
    text-align: center;
}
.add-section {
    height: 175px;
    width: 350px;
    border: 4px solid black;
}